{{!-- Page Header --}}
<header>
  <div class="navbar-fixed">
    <nav class="primary-page-nav primary-color">
      <div class="nav-wrapper">
        <div class="container-fluid">
          <a href="#!" class="brand-logo white-text">
            <img class="logo hide-on-med-and-down" src="images/tradier.png" />
            Tradier V2
          </a>
          <a href="#" data-activates="mobile-menu" class="button-collapse button-collapse primary-color-text text-darken-2">
            <i class="mdi-navigation-menu"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>

{{!-- Left Nav links --}}
<ul class="side-nav fixed primary-page-submenu" id="mobile-menu">
  {{#each navSections as |section|}}
    {{#link-to section.route activeClass='active' tagName='li'}}
      {{#link-to section.route}}
        {{section.name}}
        {{#if section.new}}
          {{#md-badge class='primary-color lighten-1 new-badge right white-text'}}New{{/md-badge}}
        {{/if}}
      {{/link-to}}
    {{/link-to}}
  {{/each}}
</ul>

{{!-- Main page body --}}
<main class="site-content">
  {{outlet}}
</main>

{{!-- Modals on the page --}}
{{md-modal-container}}

{{!-- Footer bar --}}
<footer class="page-footer footer primary-color darken-2">
  {{#md-copyright text='Copyright Text' startYear=2014}}
    <a class="grey-text text-lighten-4 right" href="#!">
      More Links
    </a>
  {{/md-copyright}}
</footer>
